//Greens
$colour-primary: #55c57a;
$colour-primary-light: #7ed56f;
$colour-primary-dark: #28b485;

//BW
$colour-white: #fff;
$colour-black: #000;

//Greys
$colour-grey-dark:#777; //std Text

//Blues
$colour-light-blue: #f0f8ff;

//FontSizes
$rootFontSize: 62.5%;

//Files
$heroBanner: '../img/hero.jpg';

//Grid
$grid-width: 114rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 6rem;
