.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        color: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($colour-white, .5);
        border: none;
        font-family: inherit;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.5s ease;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($colour-black, .2);
            border-bottom: 3px solid $colour-primary;

            &:invalid {
                border-bottom: 3px solid $colour-orange-dark;
            }
        }

        &:hover {
            box-shadow: 0 1rem 2rem rgba($colour-black, .2);
        }

        &::-webkit-input-placeholder {
            color: rgba($colour-black, .2);
        }

        @include respond(phone) {
            width: 100%;
            background-color: rgba($colour-white, .9);
    }
    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__radio-group {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 50%;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $colour-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.35rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $colour-primary;
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }

    &__radio-input:checked+&__radio-label &__radio-button::after {
        opacity: 1;
    }
}