.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;

    @include respond(tab-port) {
        margin-bottom: 2rem;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-top-big {
    margin-top: 8rem;


}

.u-z-index-1 {
    z-index: 1;
}